.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0ad4e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top i {
    font-size: 24px;
    color: white;
}
