body {
    margin: 0;
    padding: 0;
}

@media (min-width: 576px) {
    .education {
        min-height: 624px;
        background-color: #ffc107;
    }

    .education h1 {
        font-family: "Londrina Solid", sans-serif;
    }

    .education h1 span {
        color: white;
    }

    ul.timeline-list {
        position: relative;
        margin: 0;
        padding: 0
    }
    ul.timeline-list:before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        background-color: black;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    ul.timeline-list li {
        width: 1300px;
        position: relative;
        clear: both;
        display: table;
    }
    
    .timeline_content {
        border: 2px solid black;
        background-color:#fff
    }
    ul.timeline-list li .timeline_content {
        width: 45%;
        color: #333;
        padding: 30px;
        float: left;
        text-align: right;
    }
    ul.timeline-list li:nth-child(2n) .timeline_content {
        float: right;
        text-align: left;
    }
    .timeline_content h4 {
        font-size: 22px;
        font-weight: 600;
        margin: 10px 0;
    }
    ul.timeline-list li:before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-color: black;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
    }
    .timeline_content span {
        font-size: 18px;
        font-weight: 500;
        font-family: poppins;
        color: #ffc107;
    }
}

@media (max-width: 767px) {
    .about {
        padding-bottom: 30px;
    }

    .content img{
        width: 80px;
    }

    .content h1 {
        font-size: 1.8em;
    }

    .content h6 {
        font-size: 0.7em;
        margin-bottom: 0;
    }

    .content p {
        font-size: 0.9em;
    }

    .skill {
        margin-bottom: 30px;
    }

    .portofolio .more {
        margin-bottom: 25px;
    }
}

@media (max-width: 991px) {
    .content .btn {
        margin-bottom: 20px;
    }

    .content img{
        width: 90px;
    }

    .content h1 {
        font-size: 2em;
    }

    .content h6 {
        font-size: 0.8em;
        margin-bottom: 0;
    }

    .content p {
        font-size: 1em;
    }

    .portofolio .btn {
        font-size: 0.8em;
    }

    .contact {
        padding-bottom: 30px;
    }
}

@media (min-width:1px) and (max-width: 576px) {
        ul.timeline-list li {
        width: 100%;
    }

    ul.timeline-list span {
        font-size: 0.7em;
    }

    ul.timeline-list h4 {
        font-size: 0.8em;
    }

    ul.timeline-list p {
        font-size: 0.6em;
    }
}

@media (min-width:576px) and (max-width: 768px) {
    ul.timeline-list li {
        width: 515px;
    }

    ul.timeline-list span {
        font-size: 0.7em;
    }

    ul.timeline-list h4 {
        font-size: 0.8em;
    }

    ul.timeline-list p {
        font-size: 0.6em;
    }
}

@media (min-width:768px) and (max-width: 992px) {
    ul.timeline-list li {
        width: 695px;
    }

    ul.timeline-list span {
        font-size: 1em;
    }

    ul.timeline-list h4 {
        font-size: 1.2em;
    }

    ul.timeline-list p {
        font-size: 0.8em;
    }
}

@media (max-width:992px) {
    .about .fotoo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width:992px) and (max-width: 1199px) {
    ul.timeline-list li {
        width: 935px;
    }

    ul.timeline-list span {

    }

    ul.timeline-list h4 {

    }

    ul.timeline-list p {

    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    ul.timeline-list li {
        width: 1115px;
    }
}



